<!DOCTYPE html>
<html ng-app="QueueLess">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QLess App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse main-menu">
        <h1>QueueLess</h1>
        <ul class="login-modal">
            <li>@Html.Partial("_LoginPartial")</li>
        </ul>
    </div>

    <div class="body-content container">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - QLesssssss</p>
        </footer>
    </div>


    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular-resource.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/app/config.js")
    @Scripts.Render("~/Scripts/app/queueRepository.js")
</body>
</html>
