<!DOCTYPE html>
<html ng-app="QueueLess">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title QLess App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QueueLess", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/#/JoinQueue"> Join Queue </a></li>
                    <li><a href="/#/ShowQueue"> Show Queue </a></li>
                    @*<li><a href="/#/DeleteQueue"> Delete Queue </a></li>*@               
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content container">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - QLesssssss</p>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular-resource.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/app/config.js")
    @Scripts.Render("~/Scripts/app/queueRepository.js")
</body>
</html>
